:80 {
    root * /srv/app/public
        encode gzip

        php_fastcgi php-fpm:9000 {
            root /srv/app/public
                index index.php
                capture_stderr
                dial_timeout 5s
                read_timeout 30s
        }

    try_files {path} {path}/ /index.php?{query}
    file_server
}
